@use './functions' as *;

:root {
  --color-background: #000;
  --color-text: #fff;
  --color-primary: #19a8e0;
  --color-success: #0f7c37;
  --color-error:

  --font-size-base: #{rem(14)};
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #000;
    --color-text: #fff;
  }
}
